#nav {
display: flex;
justify-content: space-between;
background-color: #f4f4f4;   
border-top: 1px solid #ccc;
width: 100%;
color: #b47f1d;                 
font-weight: bolder;
margin-top: 100 0px;
}


#nav a:hover {
  color: #333;                 
  font-weight: bold;
}


h1{
    color: #cd5d18;
    text-shadow: hwb(35 6% 36%) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

h2

{  color: #cd5d18;
    text-shadow: hwb(35 6% 36%) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    font-style: normal ;
} 

h3

{
   color: #cd5d18;
    text-shadow: hwb(35 6% 36%) ;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
    font-size: large;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    font-style: normal  

}

h4 {

   color: #cd5d18;
    text-shadow: hwb(35 6% 36%) ;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
    font-size: small;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    font-style: normal  
}

.side-by-side {
  display: flex;
  justify-content: center;   
  align-items: flex-start;    
  height: 120vh;          
  margin: 50px;
  gap: 50px;
  width: 100%;                
  max-width: 1200px;
          
}

.card {
height: 100%;
}

.card-img-container {
height: 30%;
width: 200px;


}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  
}

.side-by-side img {
  width: 200px;              
  height: auto;               
  border-radius: 10px;       
  object-fit: cover;          
  display: block;
}


#nav a {
    padding: 6px;
    text-decoration: none;
    color: rgb(144, 142, 139);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: lch(10.23% 0.73 109.91);
    background-position: 40%;
    height: 100%;
    margin: 0;

}

.text-content {
width: 80%;              
display: flex;
flex-direction: column;
justify-content: flex-start;
  font-style: normal;
  font-family: cursive;
  color: hsl(33, 100%, 88%);
  border-bottom: 10px;
  margin: auto;


}

.side-by-side  p{
  width: 200px;              
  height: auto;               
  border-radius: 10px;       
  object-fit: cover;          
  display: block;
  font-style: normal;
  font-family: cursive;
  color: white

}


h2

{  color: #cd5d18;
    text-shadow: hwb(35 6% 36%) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    font-style: normal ;
} 

h3

{  color: #cd5d18;
    text-shadow: hwb(35 6% 36%) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    font-style: normal ;
} 

#footer {
  margin-top: 100px;
}

#footer {
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;          
padding: 10px 0;             
  background-color: #f4f4f4;   
border-top: 1px solid #ccc; 
}


#footer a {
  margin: 0 15px;              
  text-decoration: none;       
  color: #333;                 
  font-weight: bold;
}

#footer a:hover {
  color: #8b4513;              
}


